{{#layout.layouts/home}}
<h2>{{=it.title}}</h2>
<form>
    <dl>
        <dt>User name</dt>
        <dd><input type="text"/></dd>
    </dl>
    <dl>
        <dt>Password</dt>
        <dd><input type="password"/></dd>
    </dl>
    <dl>        
        <dd><input type="submit"/></dd>
    </dl>
</form>
{{? it.helpFn() }}
    <p>Helper fn result: {{=it.helpFn()}}</p>
{{?}}