{{#layout.layouts/home}}

<script type="text/javascript" src="partial.js"></script>
<script type="text/javascript" src="sub/child_partial.js"></script>

<h2>Render in browser</h2>
<hr/>

<div id="container" style="padding: 30px; border: solid 1px #ccc;"></div>


<script type="text/javascript">
    window.onload = function() {
        var partial = window.render.partial;
        var child_partial = window.render.sub.child_partial;
        var container = document.getElementById('container');

        container.insertAdjacentHTML('beforeEnd', partial());

        setTimeout(function(){
            container.insertAdjacentHTML('beforeEnd', child_partial());
        }, 1500);
    };
</script>
