<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Dot layout sample</title>
    </head>
    <body>
        <h1>Home layout</h1>
        <hr/>
        {{#def.sub.in_layout}}
        <hr/>
        {{#body}}
    </body>
</html>